{% load url from future %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Gamedevid FB Group Archive{% block title %}{% endblock %}</title>
        <style type='text/css'>
            #content{
                font-family:Ubuntu, Verdana;
                font-size:12px;
                width:50%;
                border:1px solid black;
                margin-left:auto;
                margin-right:auto;
            }

        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <!--<script src="http://cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js"></script>-->
        <!--<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>-->
        <!--<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/additional-methods.min.js"></script>-->
    </head>
    <body lang="en">
        <div id='content'>
        {% block content %}

        {% endblock %}
        </div>

        {% block js %}

        {% endblock %}

    </body>
</html>
