{% load url from future %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Gamedevid FB Group Archive{% block title %}{% endblock %}</title>
        <style type='text/css'>
            #content{
                font-family:Ubuntu, Verdana;
                font-size:12px;
                width:50%;
                border:1px solid black;
                margin-left:auto;
                margin-right:auto;
            }

        </style>
    </head>
    <body lang="en">
        <div id='content'>
        {% block content %}

        {% endblock %}
        </div>

        {% block js %}

        {% endblock %}

    </body>
</html>
