{% load url from future %}
<style type='text/css'>
    #post{
        margin:2px;
        display:block;
        min-height:100px;
        width:700px;
        border:1px solid black;
        margin-left:auto;
        margin-right:auto;

    }

    #post #author_pic{
        float:left;
        margin:5px;
    }

    #post #author{
        font-weight:bold;

    }

    #post #time {
        color:#c0c0c0;
        font-style:italic;

    }
    #post #stat {
        color:#1298cf;

    }

</style>
<div id='post'>
    <div id='author_pic'>
        <img src='http://graph.facebook.com/{{post.member.member_id}}/picture' />
    </div>
    <div id='author'>
        {{post.member.name}}
    </div>
    <div id='message'>
        {% if short %}
        {{post.message_short}}
        {% else %}
        {{post.message}}

        {% endif %}
    </div>
    <span id='time'>
        {{post.date_created}}
    </span>
    <span id='stat'>
        {% if post.comments.exists %}
        {{post.comments.all.count}} comments
        {% endif %}
        {% if post.num_likes %}
        {{post.num_likes}} likes 
        {% endif %}
        {% if post.parent and show_parentlink %}
            <a href='{% url 'posts:detail' post.parent.pk%}'>Thread</a>
        {% endif %}
        {% if show_permalink %}
        <a href='{% url 'posts:detail' post.pk%}'>View</a>
        {% endif %}
        {% if not post.parent and show_fbpostlink %}
            <a href='http://www.facebook.com/groups/gamedevid/{{post.post_id}}'>Facebook Thread</a>
        {% endif %}
    </span>
</div>
